.tag-container {
  @include flexify(row, flex-start);
  flex-wrap: wrap;
  gap: $sm-padding;
}

.tag {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: $border-radius;
  border: $border-width solid $smog;
  color: $smog;
  width: fit-content;
}

.info {
  @include without-overflow;

  bottom: 0;
}
