$big-border: 4px;
$big-border-radius: 15px;

$border-radius: 4px;
$border-width: 2px;

$sm-padding: 6px;
$lg-padding: 32px;
$md-padding: 16px;

$sm-margin: 6px;
$md-margin: 16px;
$lg-margin: 32px;

$sm-icon-size: 16px;
$md-icon-size: 32px;
$lg-icon-size: 48px;

$light: white;
$dark: #1d1d1d;
$smog: #dfdfdf;
$dark-smog: #22272e;
$coral: #f65866;
$grass: #8bcd5b;
$rob-roy: #ecbe7b;
$lavender: #c75ae8;
$cyan: #34bfd0;
$sky: #41a7fc;
