$big-border: 4px;
$big-border-radius: 15px;

$big-padding: 32px;

$light: white;
$dark: #1d1d1d;
$smog: #dfdfdf;
$dark-smog: #22272e;
$coral: #f65866;
$grass: #8bcd5b;
$rob-roy: #ecbe7b;
$lavender: #c75ae8;
$cyan: #34bfd0;
$sky: #41a7fc;
