.main-page {
  @include flexify();
  height: 100%;
  padding: $lg-padding;
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;

  @include devices(tablet) {
    padding: $md-padding;
    @include flexify(column);
  }

  @include devices(mobile) {
    padding: $sm-padding;
  }

  .left-bar,
  .main-content {
    height: 100%;
    width: 100%;
  }

  .left-bar {
    @include flexify(column, flex-start);
    flex: 240px;
    width: 280px;

    @include devices(tablet) {
      width: 100%;
      @include flexify(column);
      max-width: 400px;
    }

    .social-face {
      @include devices(tablet) {
        height: 100%;
        @include flexify(column, space-between);

        .social-media {
          margin-bottom: 64px;
        }
      }
    }
  }

  .main-content {
    @include flexify(column, flex-start);
    flex: auto;
    margin-left: $lg-padding;
    padding: $md-padding $lg-padding;

    @include devices(tablet) {
      margin-left: $md-padding;
      padding: $sm-padding $md-padding;
      height: calc(100% - 64px);
      width: 400px;
      flex: unset;
    }

    @include devices(mobile) {
      margin-left: $sm-padding;
      padding: $sm-padding $sm-padding;
    }
  }
}

.info {
  padding: 0 $md-padding $md-padding $md-padding;

  @include devices(tablet) {
    height: calc(100% - 64px);
  }

  @include devices(extra-small) {
    width: 100vw;
  }
}

.navigation-bar {
  @include flexify();
  gap: $md-padding;
  opacity: 0.8;

  position: absolute;
  bottom: $md-padding;
  color: $smog;
}

.tab {
  width: $sm-icon-size;
  height: $sm-icon-size;
  border: 4px solid $smog;
  border-radius: 50%;

  &.active {
    background: $smog;
  }
}
