$portrait-size: 272px;
$portrait-ratio: 1.32917;

.blackout {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba($dark, 0.45);
  display: none;
}

.wrapper {
  position: relative;
  display: grid;
  place-items: center;
  width: $portrait-size;
  min-height: $portrait-size;
  height: $portrait-size;
  overflow: hidden;
  aspect-ratio: 1/1;

  @include devices(tablet) {
    width: 400px;
    height: 400px;
  }

  @include devices(extra-small) {
    width: 100vw;
    margin: 0 auto;
    height: unset;
  }

  &:hover {
    .blackout {
      display: block;
    }

    .portrait {
      animation: none;
      background-clip: unset;
      -webkit-background-clip: none;
      -webkit-text-fill-color: transparent;
    }
  }
}

.portrait {
  @include no-selectable();
  width: 100%;
  height: 100%;
  font-size: 12px;
  animation: 24s infinite alternate visible-portrait;
  line-height: 10px;
  position: relative;
  top: -50px;
  background: url('/ava.jpeg') no-repeat;
  background-size: $portrait-size $portrait-ratio * $portrait-size;
  text-align: justify;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);

  @include devices(tablet) {
    top: -110px;
    background-size: 400px 1.32917 * 400px;
  }
}

@keyframes visible-portrait {
  0% {
    font-size: 18px;
    line-height: 16px;
    background-clip: text;
    -webkit-background-clip: text;
  }
  50% {
    font-size: 8px;
    line-height: 6px;
  }
}
